<!DOCTYPE>
<html>
<head>
<title>SYNTAX</title>
<style>
	.flex-container {
		display:flex;
		flex-direction:row;
		background-color:gray;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-items:stretch;
		height:200px;
	}
	.flex-item {
		background-color:red;
		padding:10px;
		color:white;	
	}
</style>
<script src="libs/angular.min.js"></script>
</head>

<body>
<div class="flex-container">
	<div class="flex-item" style="flex:0;"> HELLO1 about </div>
	<div class="flex-item" style="flex:1;"> HELLO2 about </div>

</div>

<script type="text/javascript">


</script>
</body>
</html>
